*{
    /* m0+p0+bx+ff */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
    
}
#banner{
    /*適應螢幕寬度*/
    width: 100%;
    /*適應螢幕高度*/
    height: 100vh;
    background-image: url(./img/coffee.jpg);
    background-size: cover;
    color: white;
    /* 圖片-附著:固定 */
    background-attachment: fixed;
    
}

/* 標題列 */
#banner nav{
    padding: 30px 0;
    
    
    
}
/* 標題列裡面的a元素 */
#banner a{
    color: white;
    padding: 0 30px;
    font-size: 24px;
    /*文字樣式:無*/
    text-decoration: none;
    transition: 0.3s;
   
    
    

}
/* hover=滑鼠碰到會發生的事情 */
#banner a:hover{
    color: #aaa;
}
hr{
    width: 350px;
    margin: 0 auto;
}
#banner p{
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    opacity: 0.5;
    margin-top: 350px;
    transition: 0.3s;
    
}
/* 這裡滑入不能設定白色 字體本身就是白色，設定白色會沒反應 */
#banner p:hover{
    color: cornflowerblue;
}
#banner h1{
    text-align: center;
    font-size: 80px;
}

#news{
    height:700px;
    color: #ccc;
}